@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 265 53% 39%;
    --primary-foreground: 222.2 47.4% 100%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 84% 4.9%;
    
    --accent2: 210 40% 96.1%;
    --accent2-foreground: 222.2 84% 4.9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
 
    --muted: 255 6% 15%;
    --muted-foreground: 255 0% 50%;
 
    --popover: 255 9% 8%;
    --popover-foreground: 210 40% 98%;
 
    --card: 255 9% 8%;
    --card-foreground: 210 40% 98%;
 
    --border: 240 3% 32%;
    --input: 240 3% 32%;
 
    --primary: 265 53% 35%;
    --primary-foreground: 222.2 47.4% 100%;
 
    --secondary: 265 100% 75%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 265 53% 35%;
    --accent-foreground: 210 40% 98%;
    
    --accent2: 240 4% 13%;
    --accent2-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 255 0% 30%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.vertical-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.vertical-desc-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.hide-scrollbar ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;  /* Optional: just make scrollbar invisible */
    display: none;
}

.disable-scrollbar {
  overflow: scroll;
  height: 0px;
  width: 0px;
  scrollbar-height: none; /* Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

@media (min-width: 768px) {
  .mask-image {
    -webkit-mask-image: linear-gradient(transparent 0%, black 4%, black 96%, transparent 100%);
    mask-image: linear-gradient(red 0%, orange 25%, yellow 50%, green 75%, blue 100%);}
}